.aboutArea {
  display: flex;
  margin: 50px 0;

  .imageArea {
    margin-right: 50px;
  }

  .image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .introduce {
    h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }
    p {
      font-size: 24px;
      margin: 10px 0;
    }
  }
}
